@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,500&display=swap");
body{
    margin: 0px;
    padding: 0px;
    background-color:azure;
    font-family:Montserrat;
}

form{
    margin:10%;
    border:2px solid black;
    text-align:center;
    padding :2%;
}
.entry{
    border:1px solid black;
    background-color:aquamarine; 
}